<template>
    <l-map :zoom.sync="zoom" :center="center" style="height: 100%">
      <l-tile-layer :url="url" :attribution="attribution" />
      <l-geo-json
        :geojson="geojson"
        :options="options"
      />
    </l-map>
</template>

<script>
import { latLng } from "leaflet";
import prov from '../data/prov.json'
import kabkot from '../data/kabkot.json'
import kec from '../data/kec.json'
import { LMap, LTileLayer, LGeoJson } from "vue2-leaflet";
export default {
  name: "Example",
  components: {
    LMap,
    LTileLayer,
    LGeoJson,
  },
  data() {
    return {
      zoom: 7,
      center: [-0.663098,110.43762],
      geojson: prov,
      prov: prov,
      kabkot:kabkot,
      kec:kec,
      level:1,
      url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    };
  },
  computed: {
    options() {
      return {
        onEachFeature: this.onEachFeatureFunction
      };
    },
  },
  methods:{
    onEachFeatureFunction(feature, layer) {
      var a = this
      layer.on('click', function () {
        if(a.level == 3){
          a.level = 0;
        }
        
        a.level++;
        a.center = latLng(layer.getCenter());
        
        var id;
        switch (a.level) {
          case 1:
            break;
          case 2:
            id = feature.properties.IDKABKOT;
            break; 
          case 3: 
            id = feature.properties.IDKEC;
            break;
          default:
            break;
        } 
        a.UpdateGeoJson(id);

      });
    },
    UpdateGeoJson(id){
      var dataId,zoom,center;
      switch (this.level) {
        case 1:
          dataId = this.prov
          zoom = 7
          center = [-0.663098,110.43762]
          this.center = center
          break;
        case 2:
          dataId = this.kabkot[id]
          zoom = 9
          break; 
        case 3:
          dataId = this.kec[id]
          zoom = 10
          break; 
        default:
          break;
      } 
      this.geojson = dataId;
      this.zoom = zoom;
    }
  }
};
</script>
