<template>
  <div id="app">
    <maps/>
  </div>
</template>
<script>
// @ is an alias to /src
import Maps from '@/views/Maps.vue'

export default {
  name: 'app',
  components: {
    Maps
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

html, body, #app {
  height: 100%;
  margin: 0;
}

</style>
